name: test

on:
  push:
    branch:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [ '1.6.x', '1.7.x', '1.8.x' ]
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: install go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}

      - name: Test
        run: go test ./...  
